.popular {
    height: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid:10px;
   position: relative;
   left: 10px;

  }
  
  .popular h1 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
   
  }
  
  .popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
   
  }
  
  .popular-item {
margin-top:50px;
display: flex;
    gap: 30px;
  }
  
  @media (max-width: 768px) {
    .popular-item {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  