.item{
    width: 350px;

}

.item p{/* CSS/Item.css */
    .item {
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
      background-color: #fff;
      text-align: center;
      padding: 10px;
    }
    
    .item img {
      width: 100%;
      height: auto;
      display: block;
    }
    
    .item-details {
      margin-top: 10px;
    }
    
    .item-name {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
    
    .item-price {
      margin-top: 5px;
      font-size: 14px;
      color: #888;
    }
    
    .item-old-price {
      text-decoration: line-through;
      margin-right: 10px;
      color: #aaa;
    }
    
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color:#8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}